.container
{
  display:flex;
  flex-direction: column;
  height: 60vh;
  width: 60vw;
  align-items: center;
}
.card
{
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 60vw;
}
.avatar
{
  display: flex;
  /* justify-content: center; */
  align-items: center; 
  height: 20vh;
  width: 50%;
}
.avatar > img
{
  height:20vh;
  width: 50%;
}
.info
{
  display:flex ;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: small;
}