.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 95vw;
  background-color: cyan;
}
.heroes {
  height: 30vh;
  width: 100%;
  background-color: gold;
}
.details {
  width: 50vh;
  height: 60%;
  background-color: darkviolet;
}
