.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #eee;
  height: 40vh;
  width: 15rem;
  /* background-color: bisque;  */
}
.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 100%;
  /* background-color: pink; */
}
.avatar>img{
  height: 9rem;
}